/* 
Colores calculadora
*/
$main-calc-color: #534F66;/* Fondo */
$calc-border-color: #403E4B;
$calc-red: #D06581;
$calc-display-bckground-color: #d0e4ce;
$gray-button: #9694A2;
$calc-red-selected: #cd4c6f;
$gray-button-selected: #7d7990;
